extends layout

block content
<<<<<<< HEAD
  .section.hero-wrap.hero-wrap-2(style="background-image: url('../firstAid_img.png');", data-stellar-background-ratio='0.5')
=======
  .section.hero-wrap.hero-wrap-2(style="background-image: url('red.jpg');", data-stellar-background-ratio='0.5')
>>>>>>> 6339c3cdbcd1c16d9f846d77a2c8be1c8c819c11
      .overlay
      .container
        .row.no-gutters.slider-text.js-fullheight.align-items-center.justify-content-center
          .col-md.ftco-animate.pb-5.text-center
            h2.mb-3.bread Gets Every Single Updates Here
            p.breadcrumbs
              span.mr-2
                a(href='/frontend')
                  | Home 
                  i.ion-ios-arrow-forward
              span
                | Events
                i.ion-ios-arrow-forward
  .container              
        .row.d-flex
          each event, j in events
            .col-md-4.ftco-animate
              .blog-entry
                a.block-20(href="/users/eventList/edit/" + event._id, style="background-image: url('images/image_2.jpg');")
                .text.d-block
                  .meta.mb-3
                    div
                      a(href='#') #{event.event_date}
                    div
                      a(href='#') #{event.event_UserName}
                    //
                      div
                        a.meta-chat(href='#')
                          span.icon-chat
                          |  3
                  h3.heading
                    a(href='#') #{event.event_name}
                  p
                    | #{event.event_body}
                  p
                    a.btn.btn-primary.py-2.px-3(href="/users/eventList/edit/" + event._id) Read more


            
