extends layout

block content
  .section.hero-wrap.hero-wrap-2(style="background-image: url('welcome_img.png');", data-stellar-background-ratio='0.5')
    .overlay
    .container
      .row.no-gutters.slider-text.js-fullheight.align-items-center.justify-content-center
        .col-md.ftco-animate.pb-2.text-center
          h2.mb-2.bread Welcome To KUYRCC Site
          p.breadcrumbs
            span.mr-2
              a(href='/frontend')
                | Home 
                i.ion-ios-arrow-forward
  .container.text-center.col-4
    h1 CONTACTS  
    a(href='/users/contacts/add_contact')
      button.btn.btn-outline-info.waves-effect.mr-0.flaot-md-right(type='button') New Contact
  .container
    .card.deck.mb-5
      h5.card-title.font-bold Board Members
        each contact_list, i in contacts
          li
            h6= contact_list.Name
            h6= contact_list.Email_id
            a(href="/users/contacts/edit/" + contact_list._id)= contact_list.Name
  
  br
  if usersGlobal
    if usersGlobal.position == "Admin"
  .container.text-center.col-4
    a(href='/users/contacts/checkQuestions')
      button.btn.btn-outline-info.waves-effect.mr-0.flaot-md-right(type='button') Check Questions
      
  .container.text-center.col-8
    h3 Ask Question / Give Review
    form(method='POST', action='/users/contacts/askQuestion')
      #form-group  
      .container.row.justify-content-center.my-3
        input.form-control(id="comment_email",name='user_Email',rows='1',type='email',placeholder="Your email here",value=email)
      .container.row.justify-content-center.my-3
        textarea.form-control(id="comment_body",name='QuestionBody',rows='5',type='text',placeholder="Put your thoughts here")
      .container.row.justify-content-center.my-3
        input.btn.btn-primary.mx-1(id="comment_submi_btn",type='submit', value="Send") 
        
        
  
  script.
    const emailField = document.getElementById('comment_email');
    const okButton = document.getElementById('comment_submit_btn');
    emailField.addEventListener('input', function (event) {
    isValidEmail = emailField.checkValidity();
    if ( isValidEmail ) {
    okButton.disabled = false;
    } else {
    okButton.disabled = true;
    }
    });
        
        
          
