extends layout

block content
	.container.text-center.col-4
		form(method='POST', action='/users/eventList/CreateEvent',enctype="multipart/form-data")
			#form-group
				label Upload Image:
				input#filetoUpload.form-control(name='events_image', type='file')
			#form-group
				label Event Title:
				input.form-control(name='event_name',type='text')
			#form-group
				label Event Informations:
				textarea.form-control(name='event_body',row='5',type='text')

			#form-group
				label Event Location:
				textarea.form-control(name='event_location',row='5',type='text')

			#form-group
				label Event Date:	
				input#datepicker.form-control.col-8(name='event_date')
				script.
					$('#datepicker').datepicker({
					uiLibrary: 'bootstrap4'
					});

			#form-group
				label Do you require the "VOLUNTEER CALLS" for your event?
				button.btn.btn-info(type='button', data-toggle='collapse', data-target='#demo') Yes
				button.btn.ml-5.btn-info(type='button') No
				#demo.collapse
					#form-group
						label Maximum no. of volunteers requred:
						textarea.form-control(name='eventVolunteerNo',row='5',type='text')

			#form-group
				label Delete this event after certain days of event?
				button.btn.btn-info(type='button', data-toggle='collapse', data-target='#dateToDelete') Yes
				button.btn.ml-5.btn-info(type='button') No
				#dateToDelete.collapse
					#form-group
						label : Delete after 
						textarea.form-control(name='event_dateToDelete',row='5',type='text')
							
			br
			input.btn.btn-primary(type='submit', value="CREATE")
			
				

			
