extends layout

block content
  h1.text-center Our Timeline
  section#timeline
    .demo-card-wrapper
      each event, e in events_main
        .demo-card.demo-card--step1
          .head
            .number-box
              span #{e+1}
            h2
              span.small #{event.event_date}
              |  #{event.event_name}
          .body
            p
              | #{event.event_body}
            img(src= event.event_image_path ,height = '250px', max-width = '1000px' )
