doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Verify Your Email
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    script(src='https://use.fontawesome.com/releases/v5.0.8/js/all.js')
    link(href='style.css', rel='stylesheet')
      
  body
    .container.text-center.justify-content-center.col-8
      h2 Click on Verify Account to verify your account to KUYRCC Website
      br
      //nameVerification and randNoVerification is from backend.get('../verify/..')
      form(method= 'POST', action= '/'+nameVerification+'/verify/'+randNoVerification)
        //input.form-control(name = 'UserId_forVerification', type = 'hidden', value = contacts.Name)
        .container.row.justify-content-center.my-3
          input.btn.btn-primary.mx-1(type='submit', value="Verify Account")
